/*  (Main Page)
    July 4,2017
Designed by Carlos Sanchez*/


:root {
    --main-color: #1e2022;
    --secondary-color: #52616b;
    --ternary-color: #c9d6df;
    --four-color: #f0f5f9;
}

h1 {
    font-weight: 600;
    text-align: center;
}


main {
    background-color: var(--main-color);
    color: var(--four-color);
    transition: margin-left .5s;
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    position: relative;
    font-weight: 400;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/*Menu*/
#menu {
    text-align: center;
    color: var(--four-color);
    font-size: 30px;
    cursor: pointer;
}

.img-responsive {
    width: 100%;

}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #222831;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.offcanvas a:focus {
    color: #00ADB5;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/*Section Titles (Manipulates ContactMe and PORTFOLIO)*/
.display-1 {
    font-size: 5em;
    font-weight: 600;
    letter-spacing: -2px;
}

#half_header {
    color: var(--secondary-color);
}

.summary,
.jumbotron {
    margin: 0;
}

.jumbotron {

    color: var(--main-color);
    padding: 15em 0 15em 0;
    font-family: 'Poppins', sans-serif;
}

/*Welcome Section About myself*/

#welcome-section h2 {
    color: var(--secondary-color);
    font-weight: 900;
    padding: 2em;
    letter-spacing: 1em;
}

.about_Me {
    line-height: 1.5em;
    padding: 4em;
    font-size: 1.5em;
}

.about_Me h2 {
    font-weight: 600;
}


/*    PORTFOLIO SECTION     */

.Portfolio {
    padding-bottom: 8em !important;

}

.Portfolio .card-img-top{
  height: 175px;
  width:100%;
}

.card {
    box-shadow: 10px 10px 10px rgba(255, 255, 255, .1);
}

.Portfolio .container {
    padding: 5em 0 2em 0;
}

.ProjectsTitle {
    text-align: center;
    font-size: 2em;
    padding: 2em;
}

.Portfolio,
.card-text {
    color: var(--main-color);
    width: 100%;
    padding: 0.9em;

}

.Portfolio .card-title {
    text-align: center;
    padding: 1em;
    font-weight: 600;
    letter-spacing: -2px;
    font-size: 1.5em;
}

.projectLink {
    text-align: center;
}

a {
    color: #222831;
    font-weight: 700;
}

a:hover {
    color: #00ADB5;
}

/*Form (Contact me*/


form {
    /* Just to center the form on the page */
    margin: 0 auto;
    /* To see the outline of the form */
    padding: 2em;
}

.background_footer {

    padding: 100px;
}


.btn {
    border: 1px solid transparent;
    border-radius: 7px;
    border-color: #00ADB5 !important;
    background-color: var(--four-color);
    color: var(--main-color);
    font-weight: 700;
}

.btn:hover {
    border-color: #00ADB5 !important;
    background-color: var(--primary-color);
    font-weight: 700;
    color: #00ADB5 !important;

}

/*Footer*/

.contactme {
    color: var(--main-color);
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: -2px;
    text-align: center;

}

.contactme span {
    font-family: 'Marck Script', cursive;
}

/*button to the top*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #393F4D;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {

    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .about_Me {
        font-size: 1.2em;
    }

    #welcome-section h2 {
        font-weight: 500;
        letter-spacing: 0;
        padding: 0 0.5em 0 0.5em;
    }


    .display-1 {
        font-size: 3em;
        font-weight: 900;
    }

    .jumbotron {
        padding: 10em 0 10em 0;
    }

    .Portfolio col-md-4{
      
    }
}